<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TITLE_SCALE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>titleScale_portrait</string>
			<key>max</key>
			<string>1.5</string>
			<key>min</key>
			<string>0.5</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TITLE_TRANSPARENCY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>titleTransparency_portrait</string>
			<key>max</key>
			<string>1</string>
			<key>min</key>
			<string>0</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TITLE_OFFSET</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>titleOffset_portrait</string>
			<key>max</key>
			<string>250</string>
			<key>min</key>
			<string>-250</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUBTITLE_SCALE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>subtitleScale_portrait</string>
			<key>max</key>
			<string>1.5</string>
			<key>min</key>
			<string>0.5</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUBTITLE_TRANSPARENCY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>0.5</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>subtitleTransparency_portrait</string>
			<key>max</key>
			<string>1</string>
			<key>min</key>
			<string>0</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUBTITLE_OFFSET</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>subtitleOffset_portrait</string>
			<key>max</key>
			<string>125</string>
			<key>min</key>
			<string>-125</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HORIZONTAL_ICON_INSET_FOOTER_TEXT</string>
			<key>label</key>
			<string>HORIZONTAL_ICON_INSET</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>horizontalIconInset_portrait</string>
			<key>max</key>
			<string>25</string>
			<key>min</key>
			<string>-25</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TOP_ICON_INSET_FOOTER_TEXT</string>
			<key>label</key>
			<string>TOP_ICON_INSET</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>topIconInset_portrait</string>
			<key>max</key>
			<string>100</string>
			<key>min</key>
			<string>-100</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>VERTICAL_ICON_SPACING_FOOTER_TEXT</string>
			<key>label</key>
			<string>VERTICAL_ICON_SPACING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>50</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>verticalIconSpacing_portrait</string>
			<key>max</key>
			<string>350</string>
			<key>min</key>
			<string>50</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HORIZONTAL_OFFSET_FOOTER_TEXT</string>
			<key>label</key>
			<string>HORIZONTAL_OFFSET</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>horizontalOffset_portrait</string>
			<key>max</key>
			<string>300</string>
			<key>min</key>
			<string>-300</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ICON_SCALE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BoldersRebornSliderCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>iconScale_portrait</string>
			<key>max</key>
			<string>2</string>
			<key>min</key>
			<string>0.5</string>
			<key>showValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HOMESCREEN_ICON_BLUR_FOOTER_TEXT</string>
			<key>label</key>
			<string>HOMESCREEN_ICON_BLUR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>BoldersRebornInfoSwitchCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>homescreenIconBlur_portrait</string>
			<key>label</key>
			<string>HOMESCREEN_BLUR</string>
		</dict>
	</array>
	<key>title</key>
	<string>HOMESCREEN</string>
</dict>
</plist>
