<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>BoldersRebornHeaderCell</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>

			<key>tweakTitle</key>
			<string>Bolders Reborn</string>

			<key>height</key>
			<real>225</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>BoldersRebornDuoTwitterCell</string>

			<key>leftUsername</key>
			<string>Nightwind</string>
			<key>leftHandle</key>
			<string>@NightwindDev</string>
			<key>leftProfilePicture</key>
			<string>nightwind_pfp.jpg</string>
			<key>leftOpenURL</key>
			<string>https://twitter.com/NightwindDev</string>

			<key>rightUsername</key>
			<string>candoizo</string>
			<key>rightHandle</key>
			<string>@candoizo</string>
			<key>rightProfilePicture</key>
			<string>candoizo_pfp.jpg</string>
			<key>rightOpenURL</key>
			<string>https://twitter.com/candoizo</string>

			<key>height</key>
			<real>70</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>LABEL_OPTIONS_FOOTER_TEXT</string>
			<key>label</key>
			<string>LABEL_OPTIONS_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BoldersRebornPortraitController</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>HOMESCREEN</string>
		</dict>
		<!--<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BoldersRebornLandscapeController</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Landscape</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>DEFAULT_APPS</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>key</key>
			<string>countText</string>
			<key>label</key>
			<string>COUNT_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>COLUMNS_FOOTER_TEXT</string>
			<key>label</key>
			<string>ROWS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>default</key>
			<string>3</string>
			<key>key</key>
			<string>rows</string>
			<key>validTitles</key>
			<array>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
			<key>validValues</key>
			<array>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.nightwind.boldersrebornprefs</string>
			<key>default</key>
			<string>3</string>
			<key>key</key>
			<string>columns</string>
			<key>validTitles</key>
			<array>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
			<key>validValues</key>
			<array>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string> </string>
</dict>
</plist>
